#div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #div2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #div3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #persona {
    text-align: center;
    padding: 10px;
  }